<div class="row">
  <form action="/teachers/new" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h2>New Teacher</h2>
    <div>
      <div class="medium-12 columns">
        <label>Teacher Name
          <input type="text" name="teacherName" placeholder="First Middle Last">
        </label>
      </div>
      <div class="medium-12 columns">
        <label>Teacher ID
          <input type="number" name="teacherID" placeholder="12345678">
        </label>
      </div>
      <div class="medium-12 columns">
        <label>Teacher Email
          <input type="email" name="teacherEmail" placeholder="teacher@cps.edu">
        </label>
      </div>
      <div class="column small-12">
        <label>Teacher Admin Rights
          <select name="teacherAdmin">
            <option value=0>No</option>
            <option value=1>Yes</option>
          </select>
        </label>
      </div>
    </div>
    <div class="input-group-button">
      <input type="submit" class="button" value="Submit">
    </div>
  </form>
</div>