<!--
<div class="row">
  img
  name
  grade, id number, hr teacher
</div>
-->
<div class="row" id="students">
    <div class="row">
      <div class="columns small-3">
        Student
      </div>
      <div class="columns small-6">
        
      </div>
      <div class="columns small-3">
        Action
      </div>
    </div>
    <br>
  <% Student.order(:SName).all.each do |student| %>
    <div id="student">
      <div class="row">
        <div class="columns small-3">
          <img style="border-radius:1000px;" src="<%= student.SPhotoS %>" />
        </div>
        <div class="columns small-6">
          
        </div>
        <div class="columns small-3 valign-middle">
          <button type="button" class="success button">Show</button><br>
          <button type="button" class="secondary button">Edit</button><br>
          <button type="button" class="alert button">Delete</button>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="row" id="teachers">
  
</div>


<div class="row" id="courses">
  
</div>


<div class="row" id="homerooms">
  
</div>