<!--
<div class="row">
  img
  name
  grade, id number, hr teacher
</div>
-->
<% for i in 1..100 do %>
<div class="container">
  <div class="row">
    <div class="columns small-2">
      <img class="thumbnail" style="border-radius:10000px;" src="https://dummyimage.com/75/919191/000000"/>
    </div>
    <div class="columns small-3">
      Mohammed Shajiuddin
    </div>
    <div class="columns small-2">
      42569836
    </div>
    <div class="columns small-3">
      Hr:761 | Mark Wienand
    </div>
    <div class="columns small-1">
      <a class="success button"><i style="color:cyan;" class="fa fa-pencil-square fa-sm" aria-hidden="true">&nbsp;&nbsp;Edit</i></a>
    </div>
    <div class="columns small-1">
      <button type="button warning" class="alert button">
      <i class="fa fa-trash-o fa-sm">&nbsp;&nbsp;Delete</i> 
    </button>   
    </div>
  </div>
</div>

<% end %>