<!--
<div class="row">
  img
  name
  grade, id number, hr teacher
</div>
-->
<div class="row">
  <table>
    <thead>
      <tr>
        <th colspan=4>Student</th>
        <th width="20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% Student.order(:SName).all.each do |student| %>
        <a href="student/<%= student.SID %>}">
          <tr class="valign-middle">
            <td>asdffdsaa</td>
            <td colspan="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, minus, veniam, laboriosam laudantium consequatur ipsam tempora voluptatum quis nesciunt in mollitia voluptatem assumenda distinctio quaerat aperiam minima rerum laborum inventore eius vero! Rerum, quos, alias voluptatum libero sed eos veniam error dolore maxime obcaecati minima corporis aliquam at sit animi quae harum reiciendis laborum quas vero labore cupiditate hic omnis odit necessitatibus architecto enim amet excepturi earum assumenda accusamus consequatur consectetur vel quasi nihil placeat esse doloribus perspiciatis sunt dolorum repudiandae deserunt id debitis quibusdam dolores officia dignissimos aperiam facere consequuntur ipsa. Iure eum accusamus veritatis suscipit quisquam et molestias!</td>
          </tr>
        </a>
      <% end %>
    </tbody>
  </table>
</div>
  

<div class="row">
  <div class="row valign-middle">
    <div class="columns small-2">
      <img class="thumbnail" style="border-radius:10000px;" src="https://dummyimage.com/75/919191/000000"/>
    </div>
    <div class="columns small-3">
      Mohammed Shajiuddin
    </div>
    <div class="columns small-2">
      42569836
    </div>
    <div class="columns small-3">
      Hr:761 | Mark Wienand
    </div>
    <div class="columns small-1">
      <a class="success button" style="color:white;" class="fa fa-pencil-square fa-sm" aria-hidden="true">&nbsp;&nbsp;Edit</a>
    </div>
    <div class="columns small-1">
      <button type="button warning" class="alert button" class="fa fa-trash-o fa-sm">&nbsp;&nbsp;Delete
      </button>   
    </div>
  </div>
</div>

