<style>
  @import url('https://fonts.googleapis.com/css?family=Kadwa');
</style>
<div class="row valign-middle" style="height:85vh;width:100%">
  <div class="small-10 small-centered columns medium-8 large-5">
    <%= image_tag "rangercontrollogo.png" %>
    <br><br>
    <div class="text-center">
      <h1 style="font-family:'Kadwa';color:blue;letter-spacing:1px;font-size:35px"><b>RANGER</b>Control</h1>
    </div>
    <hr>
    <form>
      <div class="row">
        <label>I am a
          <select>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="admin">Admin</option>
          </select>
        </label>
      </div>
      <div class="row">
        <label>Username
          <input type="text" placeholder="jsmith">
        </label>
      </div>
      <div class="row">
        <label>Password
          <input type="password" placeholder="password">
        </label>
      </div>
      
      <div class="row text-center">
        <a role="button" aria-label="submit form" href="#" class="button round">Log In</a>
      </div>
    </form>
  </div>
</div>